node_modules/
.idea/
.cpcache/
.shadow-cljs/
src/main/resources/public/js/
.nrepl-port
*.iml
.DS_Store
.project
etch-db
log/
/.settings/
db/
db-dev/
db-test/
convex-db
convex-web.sublime-workspace
.clj-kondo
*.pfx
secrets.edn