{;; -- SECRETS
 :secrets 
 #profile {:default #include #join [#system/property "user.home" "/.convex/secrets.edn"]
           
           :test #include "src/test/resources/secrets.edn"}
 
 ;; -- SPEC & INSTRUMENTATION
 ;; ==========================
 :spec
 #profile {:dev
           {:check-asserts? true
            :instrument? true}
           
           :test
           {:check-asserts? true
            :instrument? true}
           
           :prod
           {:check-asserts? true
            :instrument? false}}
 
 
 ;; -- SITE
 ;; ==========================
 :site
 {;; It's much faster downloading assets from Google Cloud Storage.
  ;; Storing the app's assets on Google Cloud Storage also means that
  ;; the app is deployed simply by uploading the bundled
  ;; JavaScript file - main.js - to the 'convex-world-site' Bucket.
  :asset-prefix-url
  #profile {:dev ""
            :test ""
            :prod "https://storage.googleapis.com/convex-world-site"}
  
  :security
  #profile {:dev {:anti-forgery true}
            :test {:anti-forgery false}
            :prod {:anti-forgery true}}}
 
 
 ;; -- DATALEVIN
 ;; Datalevin is embedded in our application to store its state.
 ;; Created accounts via the site, session, commands are all stored
 ;; in the database so it survives application restarts.
 ;;
 ;; Configuration:
 ;; `:dir`  Database directory.
 ;; ==========================
 :datalevin
 #profile {:dev {:dir #join [#system/property "user.home" "/.convex/datalevin-dev"]
                 :reset? true}
           
           :test {:dir "db-test"
                  :reset? true}
           
           :prod {:dir #join [#system/property "user.home" "/.convex/datalevin"]
                  :reset? false}}
 
 
 ;; -- CONVEX PEER
 ;; ==========================
 :peer
 #profile {:dev {:hostname "localhost"
                 :port 43577
                 :key-store #join [#system/property "user.home" "/.convex/convex-world-dev.pfx"]
                 :key-store-passphrase #ref [:secrets :key-store-passphrase]
                 :key-passphrase #ref [:secrets :key-passphrase]
                 :etch-store-temp? true
                 :etch-store-temp-prefix "convex-world-dev"}
           
           :test {:hostname "localhost"
                  :port 0
                  :key-store "convex-world-test.pfx"
                  :key-store-passphrase "convex-world-test"
                  :key-passphrase "convex-world-test"
                  :etch-store-temp? true
                  :etch-store-temp-prefix "convex-world-test"}
           
           :prod {:hostname "convex.world"
                  :key-store #join [#system/property "user.home" "/.convex/convex-world.pfx"]
                  :key-store-passphrase #ref [:secrets :key-store-passphrase]
                  :key-passphrase #ref [:secrets :key-passphrase]
                  :etch-store #join [#system/property "user.home" "/.convex/etch/data.etch"]}}
 
 
 ;; -- WEB SERVER
 ;; ==========================
 :web-server
 {:port
  #profile {:dev 8080
            :prod 8080
            :test 0}}}
