{;; -- SECRETS
 :secrets #include #join [#env HOME "/.convex/secrets.edn"]
 
 ;; -- SPEC & INSTRUMENTATION
 ;; ==========================
 :spec
 #profile {:dev
           {:check-asserts? true
            :instrument? true}
           
           :test
           {:check-asserts? true
            :instrument? true}
           
           :prod
           {:check-asserts? true
            :instrument? false}}
 
 
 ;; -- SITE
 ;; ==========================
 :site
 {;; It's much faster downloading assets from Google Cloud Storage.
  ;; Storing the app's assets on Google Cloud Storage also means that
  ;; the app is deployed simply by uploading the bundled
  ;; JavaScript file - main.js - to the 'convex-world-site' Bucket.
  :asset-prefix-url
  #profile {:dev ""
            :test ""
            :prod "https://storage.googleapis.com/convex-world-site"}
  
  :security
  #profile {:dev {:anti-forgery true}
            :test {:anti-forgery false}
            :prod {:anti-forgery true}}}
 
 
 ;; -- DATALEVIN
 ;; Datalevin is embedded in our application to store its state.
 ;; Created accounts via the site, session, commands are all stored
 ;; in the database so it survives application restarts.
 ;;
 ;; Configuration:
 ;; `:dir`  Database directory.
 ;; ==========================
 :datalevin
 #profile {:dev {:dir "db-dev"
                 :reset? true}
           
           :test {:dir "db-test"
                  :reset? true}
           
           :prod {:dir "db"
                  :reset? false}}
 
 
 ;; -- CONVEX PEER
 ;; ==========================
 :peer
 #profile {:dev {:url "localhost"
                 :port 43577
                 :key-store #join [#env HOME "/.convex/convex-world-dev.pfx"]
                 :key-store-passphrase #ref [:secrets :key-store-passphrase]
                 :key-passphrase #ref [:secrets :key-passphrase]
                 :store {:temp? true}}
           
           :test {:url "localhost"
                  :port 43578
                  :key-store "convex-world-test.pfx"
                  :key-store-passphrase "convex-world-test"
                  :key-passphrase "convex-world-test"
                  :store {:temp? true}}
           
           :prod {:url "convex.world"
                  :port 43579
                  :key-store #join [#env HOME "/.convex/convex-world.pfx"]
                  :key-store-passphrase #ref [:secrets :key-store-passphrase]
                  :key-passphrase #ref [:secrets :key-passphrase]
                  :store {:temp? false}}}
 
 
 ;; -- WEB SERVER
 ;; ==========================
 :web-server
 {:port
  #profile {:dev 8080
            :prod 8080
            :test 8090}}
 
 
 ;; -- LOGGING U/LOG
 ;; ==========================
 :logging
 {:publisher-config
  #profile {:dev
            {:type :custom
             :fqn-function "convex-web.logging/dev-logging-publisher"}
            
            :test
            {:type :custom
             :fqn-function "convex-web.logging/dev-logging-publisher"}
            
            :prod
            {:type :custom
             :fqn-function "convex-web.logging/google-cloud-logging-publisher"}}}}