{:paths ["src/main/clojure" "src/main/resources"]
 
 :mvn/repos
 {"ossrh" {:url "https://s01.oss.sonatype.org/content/repositories/snapshots"}}
 
 :deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  org.clojure/tools.logging {:mvn/version "1.1.0"}
  org.clojure/data.json {:mvn/version "2.4.0"}
  
  com.cognitect/transit-clj {:mvn/version "1.0.324"}
  com.cognitect/transit-cljs {:mvn/version "0.8.269"}
  com.cognitect/anomalies {:mvn/version "0.1.12"}
  
  world.convex/net.clj
  {:deps/root "module/net"
   :git/sha   "06c7137"
   :git/tag   "stable/2023-01-18"
   :git/url   "https://github.com/convex-dev/convex.cljc"}
  
  ;; world.convex/convex-core {:local/root "convex-core-0.7.0-rc3-06ee2229b8fa9abaf28309b0b609c52fcd91ba7c.jar"}
  ;; world.convex/convex-peer {:local/root "convex-peer-0.7.0-rc3-06ee2229b8fa9abaf28309b0b609c52fcd91ba7c.jar"}
  
  prestancedesign/get-port {:mvn/version "0.1.1"}
  
  com.stuartsierra/component {:mvn/version "1.0.0"}
  
  
  ;; -- Logging
  
  ch.qos.logback/logback-classic {:mvn/version "1.2.6"}
  
  ;; Logback implements the SLF4J API
  org.slf4j/slf4j-api {:mvn/version "1.7.32"}
  
  ;; Redirect Apache Commons Logging to Logback via the SLF4J API
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.32"}
  
  ;; Redirect Log4j 1.x to Logback via the SLF4J API
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.32"}
  
  ;; Redirect java.util.logging to Logback via the SLF4J API.
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.32"}
  
  ;; Redirect Log4j 2.x to Logback via the SLF4J API
  org.apache.logging.log4j/log4j-to-slf4j {:mvn/version "2.14.1"}
  
  ;; Google Cloud Logging appender
  com.google.cloud/google-cloud-logging-logback {:mvn/version "0.119.0-alpha"}
  
  com.brunobonacci/mulog {:mvn/version "0.8.0"}
  
  lambdaisland/glogi {:mvn/version "1.2.164"}
  
  ;; -- End-of-Logging
  
  
  aero/aero {:mvn/version "1.1.6"}
  ring/ring-core {:mvn/version "1.9.4"}
  ring/ring-defaults {:mvn/version "0.3.3"}
  ring/ring-mock {:mvn/version "0.4.0"}
  ring-cors/ring-cors {:mvn/version "0.1.13"}
  http-kit/http-kit {:mvn/version "2.5.3"}
  compojure/compojure {:mvn/version "1.6.2"}
  hiccup/hiccup {:mvn/version "1.0.5"}
  reagent/reagent {:mvn/version "1.1.0"}
  re-frame/re-frame {:mvn/version "1.2.0"}
  metosin/reitit-frontend {:mvn/version "0.5.15"}
  datalevin/datalevin {:mvn/version "0.7.7"}
  cljfmt/cljfmt {:mvn/version "0.8.0"}
  rewrite-clj/rewrite-clj {:mvn/version "1.0.682-alpha"}
  expound/expound {:mvn/version "0.8.10"}
  cljs-ajax/cljs-ajax {:mvn/version "0.8.4"}
  borkdude/sci {:mvn/version "0.2.5"}}
 
 :aliases
 {;; -- Server dev
  :dev
  {:extra-paths ["src/dev/clojure"]
   
   :extra-deps {com.stuartsierra/component.repl {:mvn/version "0.2.0"
                                                 :exclusions [org.clojure/tools.namespace]}
                
                org.clojure/tools.namespace {:mvn/version "1.1.0"}}

   ;; Java 16 and Java 17 encapsulate JDK internal APIs, which impacts Datalevin.
   ;; https://blogs.oracle.com/javamagazine/post/its-time-to-move-your-applications-to-java-17-heres-why-and-heres-how
   :jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
              "--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"]}
  
  
  ;; -- Site dev
  :site-dev
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.20.15"}
                org.slf4j/slf4j-nop {:mvn/version "2.0.6"}
                binaryage/devtools {:mvn/version "1.0.6"}
                re-frisk/re-frisk {:mvn/version "1.5.2"}}}
  
  
  ;; -- Test
  :test
  {:extra-paths ["src/test/clojure"]
   :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  
  
  ;; -- Socket REPL
  :repl
  {:jvm-opts ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}
  
  
  ;; -- Kaocha test runner
  :kaocha
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.60.945"}}}
  
  
  ;; -- Cognitect test runner
  :test-runner
  {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                           :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
   
   :exec-fn cognitect.test-runner.api/test
   :exec-args {:dirs ["src/test"]}}
  
  
  ;; -- Run server
  :main
  {:main-opts ["-m" "convex-web.core"]}
  
  
  ;; -- Logback configuration
  :logback-noop
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-noop.xml"]}
  
  :logback-site
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-site.xml"]}
  
  :logback-dev
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-dev.xml"]}
  
  :logback-test
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-test.xml"]}
  
  :logback-prod
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-prod.xml"]}
  
  
  ;; -- Check outdated dependencies
  ;; clj -M:outdated
  :outdated
  {:replace-deps
   {com.github.liquidz/antq {:mvn/version "1.1.0"}
    org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}

   :main-opts ["-m" "antq.core"]}}}
