{:paths ["src/main/clojure" "src/main/resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/tools.logging {:mvn/version "1.1.0"}
  org.clojure/data.json {:mvn/version "1.0.0"}

  com.cognitect/transit-clj {:mvn/version "1.0.324"}
  com.cognitect/transit-cljs {:mvn/version "0.8.264"}
  com.cognitect/anomalies {:mvn/version "0.1.12"}

  world.convex/convex {:local/root "convex-0.0.1-SNAPSHOT.jar"}

  ;; Required by Convex but it seems to have some
  ;; odd classpath conflict going on, that's why it's added here.
  org.apache.commons/commons-text {:mvn/version "1.9"}

  com.stuartsierra/component {:mvn/version "1.0.0"}


  ;; -- Logging

  ch.qos.logback/logback-classic {:mvn/version "1.2.3"}

  ;; Logback implements the SLF4J API
  org.slf4j/slf4j-api {:mvn/version "1.7.30"}

  ;; Redirect Apache Commons Logging to Logback via the SLF4J API
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.30"}

  ;; Redirect Log4j 1.x to Logback via the SLF4J API
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.30"}

  ;; Redirect Log4j 2.x to Logback via the SLF4J API
  org.apache.logging.log4j/log4j-to-slf4j {:mvn/version "2.13.3"}

  ;; Redirect java.util.logging to Logback via the SLF4J API.
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.30"}

  ;; Google Cloud Logging appender
  com.google.cloud/google-cloud-logging-logback {:mvn/version "0.118.2-alpha"}

  ;; IMPORTANT
  ;; `com.google.cloud/google-cloud-logging-logback` has a transitive
  ;; dependency with `com.google.guava/guava` version `29.0-android`.
  ;; The issue is that version `29.0-android`
  ;; doesn't have the class `com.google.common.collect.Streams`,
  ;; which is required by the ClojureScript compiler,
  ;; so Shadow CLJS release fails (npx shadow-cljs release main).
  com.google.guava/guava {:mvn/version "29.0-jre"}

  com.brunobonacci/mulog {:mvn/version "0.5.0"}

  lambdaisland/glogi {:mvn/version "1.0.74"}

  ;; -- End-of-Logging


  aero/aero {:mvn/version "1.1.6"}
  ring/ring-core {:mvn/version "1.8.1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  ring/ring-mock {:mvn/version "0.4.0"}
  http-kit/http-kit {:mvn/version "2.5.0"}
  compojure/compojure {:mvn/version "1.6.2"}
  hiccup/hiccup {:mvn/version "1.0.5"}
  re-frame/re-frame {:mvn/version "1.1.1"
                     :exclusions [cljsjs/react
                                  cljsjs/react-dom
                                  cljsjs/react-dom-server]}
  metosin/reitit-frontend {:mvn/version "0.5.6"}
  datalevin/datalevin {:mvn/version "0.3.11"}
  nano-id/nano-id {:mvn/version "1.0.0"}
  expound/expound {:mvn/version "0.8.6"}
  fipp/fipp {:mvn/version "0.6.23"}
  zprint/zprint {:mvn/version "1.0.1"}
  cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}}

 :aliases
 {:dev
  {:extra-paths ["src/dev/clojure"]

   :extra-deps {com.stuartsierra/component.repl {:mvn/version "0.2.0"
                                                 :exclusions [org.clojure/tools.namespace]}

                org.clojure/tools.namespace {:mvn/version "1.0.0"}}}


  :test
  {:extra-paths ["src/test/clojure"]

   :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                lambdaisland/kaocha {:mvn/version "1.0.700"}}}


  :test-runner
  {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                           :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}

   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/test"]}


  ;; -- Site (ClojureScript app)
  :site
  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.773"
                                           ;; These exclusions are required because of Shadow CLJS.
                                           :exclusions
                                           [com.google.javascript/closure-compiler-unshaded
                                            org.clojure/google-closure-library
                                            org.clojure/google-closure-library-third-party]}

                thheller/shadow-cljs {:mvn/version "2.11.4"}

                binaryage/devtools {:mvn/version "1.0.2"}}}


  ;; -- Run server
  :main
  {:main-opts ["-m" "convex-web.core"]}


  ;; -- Logback configuration
  :logback-site
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-site.xml"]}

  :logback-dev
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-dev.xml"]}

  :logback-test
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-test.xml"]}

  :logback-prod
  {:jvm-opts ["-Dlogback.configurationFile=logback/logback-prod.xml"]}


  ;; -- Check outdated dependencies
  :outdated
  {:extra-deps {antq/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}}}