{:deps {:aliases [:site :logback-site]}

 :nrepl {:port 9000}

 :jvm-opts ["-Xmx2G"]

 :dev-http {8000 "src/main/resources/public"}

 :builds
 {:main
  {:target :browser
   :modules {:main {:init-fn convex-web.site.app/init}}
   :compiler-options {:cross-chunk-method-motion false
                      :language-in :es6
                      :output-feature-set :es6}
   :output-dir "src/main/resources/public/js"
   :asset-path "/js"}}}