{:deps true

 :jvm-opts ["-Xmx2G"]

 :dev-http {8000 "src/main/resources/public"}

 :builds
 {:module/app
  {:target :browser
   :modules {:main {:init-fn convex-web.site.app/init}}
   :output-dir "src/main/resources/public/js"
   :asset-path "/js"
   
   :devtools
   {:preloads [re-frisk.preload]}
   
   :build-hooks
   [(shadow.cljs.build-report/hook)]
   
   :compiler-options
   {:warnings-as-errors 
    {:ignore #{sci.*}}}}}}
