{:welcome
 [{:name "Welcome"
   :path "markdown/welcome.md"}]

 :documentation
 [{:name "Documentation"
   :path "markdown/documentation.md"}]

 :concepts
 [{:name "Decentralisation"
   :path "markdown/decentralisation.md"}]

 :getting-started
 [{:name "Getting Started"
   :path "markdown/getting_started.md"}]

 :tutorials
 [{:name "Introduction to Convex Lisp"
   :path "markdown/convex_lisp.md"}

  {:name "Introduction to Smart Contracts"
   :path "markdown/introduction_smart_contracts.md"}]}