;; Key is used by a site page to request the "markdown page".
;;
;; Options:
;; - `:toc?` if a table of contents, based on `:contents` items' name, should be visible.
;;
;; This is how a markdown gets rendered in the site:
;; - A page requests a markdown by it's name/key (see route '/api/internal/markdown-page');
;; - The markdown is rendered by the component `convex-web.site.markdown/Markdown`.

{:under-construction
 {:toc? false
  :contents
  [{:name "Under Construction"
    :path "markdown/under_construction.md"}]}

 :explorer
 {:toc? false
  :contents
  [{:name "Explorer"
    :path "markdown/explorer.md"}]}

 :documentation
 {:toc? false
  :contents
  [{:name "Documentation"
    :path "markdown/documentation.md"}]}

 :getting-started
 {:smart-toc? true
  :contents
  [{:name "Getting Started"
    :path "markdown/getting_started.md"}]}

 :tutorials
 {:smart-toc? true
  :contents
  [{:name "Lisp Guide"
    :path "markdown/tutorial/lisp-guide.md"}]}

 :advanced-topics
 {:smart-toc? true
  :contents
  [{:name "Lisp Guide"
    :path "markdown/tutorial/lisp-advanced.md"}]}

 :faq
 {:toc? true
  :smart-toc? true
  :contents
  [{:name "FAQ"
    :path "markdown/faq.md"}]}

 :vision
 {:toc? true
  :smart-toc? true
  :contents
  [{:name "FAQ"
    :path "markdown/vision.md"}]}

 :concepts
 {:toc? false
  :contents
  [{:name "Concepts"
    :path "markdown/concepts.md"}]}

 :tools
 {:toc? false
  :contents
  [{:name "Tools"
    :path "markdown/tools.md"}]}

 :white-paper
 {:toc? true
  :smart-toc? true
  :contents
  [{:name "White Paper"
    :path "markdown/articles/convex-whitepaper.md"}]}

 :client-api
 {:toc? true
  :smart-toc? true
  :contents
  [{:name "Client API"
    :path "markdown/client_api.md"}]}

 :glossary
 {:toc? true
  :smart-toc? true
  :contents
  [{:name "Glossary"
    :path "markdown/glossary.md"}]}}