{:concepts
 [{:name "Convex Lisp"
   :path "markdown/convex_lisp.txt"}]

 :getting-started
 [{:name "Convex Lisp"
   :path "markdown/convex_lisp.txt"}]

 :tutorials
 [{:name "Introduction to Convex Lisp"
   :path "markdown/convex_lisp.txt"}

  {:name "Introduction to Smart Contracts"
   :path "markdown/introduction_smart_contracts.txt"}]}