[Unit]
Description=Convex Web

[Service]
User=root
WorkingDirectory=/usr/local/convex-dev/convex-web
ExecStart=/usr/local/convex-dev/convex-web/bin/run
SuccessExitStatus=143
TimeoutStopSec=10
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target