<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} %-5level %logger [%thread]%n%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>