name: Tests
on:
  push:
    paths:
      - 'src/**'
      - 'deps.edn'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11.0.5'
      - uses: DeLaGuardo/setup-clojure@master
        with:
          tools-deps: '1.10.3.839'
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-deps-${{ hashFiles('**/deps.edn') }}
          restore-keys: ${{ runner.os }}-deps
      - name: Run tests
        run: bin/kaocha
